# Database
DB_JDBC_URL=jdbc:mysql://localhost:3307/rep_equipos_apilamiento
DB_USERNAME=root
DB_PASSWORD=root
DB_ROOT_PASSWORD=root

# JWT
JWT_SECRET=OXY8p2u8JcvWsGy7Gp5TYzdp7tEFfHXSzaqPU6J3t3M=
JWT_ISSUER=https://repcontrol.pe

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:8081

# Evidence Uploads
EVIDENCE_UPLOAD_PATH=/tmp/uploads/evidences

# Microsoft Entra ID
MICROSOFT_TENANT_ID=04e05ea3-3981-4a7b-9be2-17535cf34b8f
MICROSOFT_CLIENT_ID=2953b82b-0891-41d0-99ec-6d2951f46851

# Server
MAX_BODY_SIZE=5M
